@import 'tailwindcss';

@theme {
  /* Colors */
  --color-red: hsl(14 86% 42%);
  --color-green: hsl(159 69% 38%);

  --color-rose-50: hsl(20 50% 98%);
  --color-rose-100: hsl(13 31% 94%);
  --color-rose-300: hsl(14 25% 72%);
  --color-rose-400: hsl(7 20% 60%);
  --color-rose-500: hsl(12 20% 44%);
  --color-rose-900: hsl(14 65% 9%);

  /* Typography */
  --font-sans: 'Red Hat Text', ui-sans-serif, system-ui, sans-serif;

  /* Optional: base size reference */
  --text-base: 16px;
}

@layer base {
  html,
  body {
    min-height: 100svh;
    margin: 0;
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-rose-100);
    font-family: var(--font-sans);
  }

  .app-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.attribution {
  flex-shrink: 0;
  font-size: clamp(0.9rem, 3vw, 0.75rem);
  text-align: center;
  font-weight: bolder;
  color: var(--color-rose-900);
}

.attribution a {
  color: var(--color-red);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
