@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import 'tailwindcss';

@theme {
  /* Colors */
  --color-white: hsl(0 0% 100%);

  --color-slate-300: hsl(212 45% 89%);
  --color-slate-500: hsl(216 15% 48%);
  --color-slate-900: hsl(218 44% 22%);

  /* Typography */
  --font-outfit: 'Outfit', sans-serif;

  --text-body: 15px;
}

@layer base {
  body {
    font-family: var(--font-outfit);
    font-size: var(--text-body);
    background-color: var(--color-slate-300);
    color: var(--color-slate-900);
  }
}
