@import 'tailwindcss';

@font-face {
  font-family: 'Karla';
  src: url('/assets/fonts/static/Karla-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('/assets/fonts/static/Karla-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-sans: 'Karla', system-ui, sans-serif;

  /* Primary */
  --color-primary-200: hsl(148 38% 91%);
  --color-primary-600: hsl(169 82% 27%);
  --color-danger: hsl(0 66% 54%);

  /* Neutral */
  --color-white: hsl(0 0% 100%);
  --color-neutral-500: hsl(186 15% 59%);
  --color-neutral-900: hsl(187 24% 22%);
}
